HOST=0.0.0.0
PORT=3001
APP_KEYS=moAlsMjPe9xAJMAt6jhMag==,s39IWZjlSS3dD8h7gxfDKg==,HrHpMC66niZAzkY9pJDPfw==,shreaDpF8KGjcMK5YZIeRg==
API_TOKEN_SALT=Qa9ED2haUjOa0Zwh/Z5a/g==
ADMIN_JWT_SECRET=GkIvj+z4Z4Hg9qWwZVSLfQ==
TRANSFER_TOKEN_SALT=0bw14xJdTf+IOcCLNAyyZQ==
# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=dpg-cmqm0e021fec739n8rv0-a.singapore-postgres.render.com
DATABASE_PORT=5432
DATABASE_NAME=mockup_wo62
DATABASE_USERNAME=admin
DATABASE_PASSWORD=qQxVgT7IEIZylFw73J9IFxDSK8niz6U1
DATABASE_SSL=true
JWT_SECRET=3Pk6rOgzJTrf+Vs1vbU5bw==
